node_modules/

# iOS build artifacts
ios/build/
ios/Pods/
ios/.xcode.env.local

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties

# Expo
.expo/

# Metro
*.jsbundle
*.hbc

# Detox
artifacts/
